name: Tests

on:
    push:
        branches:
            - master
    pull_request:
    schedule:
        - cron: '10 6 * * 1'

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php-version: [ '8.1', '8.2', '8.3', '8.4' ]
                coverage: none
                dependency-version: [ prefer-stable ]
                include:
                    - { php-version: '8.1', dependency-version: prefer-lowest }

        name: PHP ${{ matrix.php-version }} - ${{ matrix.dependency-version }}

        steps:
            -   uses: actions/checkout@v4
            -   name: Install PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    coverage: none
            -   name: Install dependencies
                run: composer update --no-interaction --prefer-dist --${{ matrix.dependency-version}} --no-progress --no-suggest
            -   name: Run test suite
                run: vendor/bin/phpunit
